<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="post" action="/">
    <p><input type="text" name="input"></p>
    <input type="submit" value="submit">
    </form>
    <%# <%= @result %> %>
  </body>
</html>